@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f0f0f0;
}

#main{
  background: #282F3E;
}

.container{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  min-width: fit-content;
  max-width: 1800px;
}

.digital-clock{
  position: relative;
  color: #ffffff;
  background: #393E46;
  width: 400px;
  height: 200px;
  margin-top: 50px;
  padding: 20px 45px;
  box-shadow: 0 5px 25px rgba(0, 173, 181, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digital-clock::before{
  content: '';
  position: absolute;
  background: linear-gradient(45deg,#24ff6d,#2f93f1,#ff5e9a);
  background-size: 200% ,200%;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  filter: blur(10px);
  animation: glowing 5s ease infinite;
}

@keyframes glowing{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.time{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hours, .dots, .minutes{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0 10px;
  line-height: 125px;
}

.hours, .minutes{
  font-size: 6.5em;
  width: 125px;
}

.dots{
  font-size: 5em;
  color: #EEEEEE;
}

.hours{
  background: -webkit-linear-gradient(90deg,#634dff,#5fd4ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.minutes{
  background: -webkit-linear-gradient(90deg,#ff5e9a,#ffb960);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.right-side{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.period, .seconds{
  font-size: 1.2em;
  font-weight: 500;
}

.period{
  transform: translateY(-20px);
  background: -webkit-linear-gradient(90deg,#f7b63f, #faf879);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.seconds{
  transform: translateY(16px);
  background: -webkit-linear-gradient(90deg,#24ff6d,#2f93f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 5px;
  background: -webkit-linear-gradient(90deg,#ae4af6,#ff98d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.day-number, .year, .month-name{
  margin-left: 8px;
}

/* Weather Card */

.weather-app{
  position: relative;
  color: #ffffff;
  background: #393E46;
  margin-left: 75px;
  margin-top: 50px;
  width: 600px;
  height: 200px;
  padding: 10px 10px;
  box-shadow: 0 5px 25px rgba(0, 173, 181, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-app::before{
  content: '';
  position: absolute;
  background: linear-gradient(45deg,#24ff6d,#2f93f1,#ff5e9a);
  background-size: 200% ,200%;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  filter: blur(10px);
  animation: glowing 5s ease infinite;
}

@keyframes glowing{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.weather-top{
  display: flex;
  height: 100px;
  align-items: center;
}

.weather-bottom{
  display: flex;
  height: 100px;
}

.temperature{
  width: 150px;
  height: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(90deg,#24ff6d,#2f93f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.reading{
  font-size: 5em;
}

.degree{
  padding-top: 10px;
  font-size: 1.3em;
}

.status-image{
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.current-location{
  font-size: 1.5em;
  width: 200px;
  height: 100px;
  padding-top: 25px;
  background: -webkit-linear-gradient(90deg,#ae4af6,#ff98d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.current-city{
  display: flex;
  justify-content: center;
}
.current-state{
  display: flex;
  justify-content: center;
}



.forcast{
  font-size: 1em;
  width: 120px;
  padding: 0px 10px;
}

.forcast-day{
  display: flex;
  height: 25px;
  font-size: 1.3em;
  font-weight: 500;
  justify-content: center;
  background: -webkit-linear-gradient(90deg,#634dff,#5fd4ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.forcast-status{
  display: flex;
  height: 25px;
  margin-top: 5px;
  justify-content: center;
  background-image: url("../img/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.forcast-temp{
  display: flex;
  height: 25px;
  margin-top: 5px;
  font-size: 1.2em;
  justify-content: center;
  background: -webkit-linear-gradient(90deg,#ff5e9a,#ffb960);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.forcast-reading{
  font-size: 1em;
}

.forcast-degree{
  font-size: .7em;
}

.quotes{
  position: relative;
  color: #ffffff;
  background: #393E46;
  width: 500px;
  height: 200px;
  margin-left: 75px;
  margin-top: 50px;
  padding: 10px 45px;
  box-shadow: 0 5px 25px rgba(0, 173, 181, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quotes::before{
  content: '';
  position: absolute;
  background: linear-gradient(45deg,#24ff6d,#2f93f1,#ff5e9a);
  background-size: 200% ,200%;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  filter: blur(10px);
  animation: glowing 5s ease infinite;
}

.quote{
  height: 150px;
  font-size: 1.4em;
  background: -webkit-linear-gradient(90deg,#ff5e9a,#ffb960);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.autor{
  height: 35px;
  font-size: 1.3em;
  background: -webkit-linear-gradient(90deg,#ae4af6,#ff98d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.refresh-button{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 25px;
  background-image: url("../img/reload.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 200px;
}

.refresh-button:hover{
  background-image: url("../img/reload_hover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 200px) {

  #main{
    display: none;
  }
  
}

@media (max-width: 400px) {

  .digital-clock{
    width: 250px;
    height: 135px;
  }

  .hours, .minutes {
    font-size: 3.5em;
    width: 75px;
    padding: 0;
    line-height: 100px;
  }

  .dots{
    line-height: 100px;
  }

  .right-side{
    margin-left: 0;
  }

  .period{
    transform:translateY(0px);
  }

  .seconds{
    transform:translateY(0px);
  }

}

@media (max-width: 1200px) {

  #section2{
    display: none;
  }
  
}

@media (max-width: 1750px) {

  #section3{
    display: none;
  }

  #button1{
    display: none;
  }

  #section1{
    margin-left: 25px;
  }
  
}